body{
	/*background-image: url ("http://i.dailymail.co.uk/i/pix/2009/11/16/article-1227338-0731E47C000005DC-637_468x286.jpg");*/
	background-color: #CC5353;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #A69DEA;
	font-family: tahoma;
	font-size: 40px;
	text-align: center;
	margin: 400px;
}